[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
huggingface-hub = "*"
streamlit = "*"
langchain = "*"
openai = "*"
wikipedia = "*"
matplotlib = "*"
scipy = "*"
seaborn = "*"
dataclasses = "*"
twarc = "*"

[dev-packages]

[requires]
python_version = "3.11"
